* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {

  font-size: 85%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#fb-login {
  position: relative;
}

#fb-login > span {
  font-size: 12px !important;
}

.abcRioButton.abcRioButtonBlue, #my-signin2, #fb-login {
  /* height: 26px !important; */
  width: 100% !important;
  border: none !important;
  border-radius: 4px;
  margin-top: 10px;
} 
.abcRioButtonIcon, #fb-login > img {
  border-radius: 50% !important;
  position: absolute;
}
