* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {

  font-size: 85%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#fb-login {
  position: relative;
}

#fb-login > span {
  font-size: 12px !important;
}

.abcRioButton.abcRioButtonBlue, #my-signin2, #fb-login {
  /* height: 26px !important; */
  width: 100% !important;
  border: none !important;
  border-radius: 4px;
  margin-top: 10px;
} 
.abcRioButtonIcon, #fb-login > img {
  border-radius: 50% !important;
  position: absolute;
}

.user_avatar {
  overflow: hidden !important;
  border-radius: 50%;
  position: relative !important;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.image_info{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 110px;
  height: 36px;
  text-align: center;
  color: rgb(225, 60, 93);
  transition: 0.3s ease-in-out;
  background: rgba(225, 219, 219, 0.333);
  transition: all ease-in .2s;
  opacity: .9;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

 #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
::-webkit-file-upload-button{
  cursor: pointer;
}
