* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0 !important;
}

html {

  font-size: 85%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#fb-login {
  position: relative;
}

#fb-login > span {
  font-size: 12px !important;
}

.abcRioButton.abcRioButtonBlue, #my-signin2, #fb-login {
  /* height: 26px !important; */
  width: 100% !important;
  border: none !important;
  border-radius: 4px;
  margin-top: 10px;
} 
.abcRioButtonIcon, #fb-login > img {
  border-radius: 50% !important;
  position: absolute;
}

.user_avatar {
  overflow: hidden !important;
  border-radius: 50%;
  position: relative !important;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.image_info{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 110px;
  height: 36px;
  text-align: center;
  color: rgb(225, 60, 93);
  transition: 0.3s ease-in-out;
  background: rgba(225, 219, 219, 0.333);
  transition: all ease-in .2s;
  opacity: .9;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

div.ant-upload{
    width: 100%;
}

 #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
::-webkit-file-upload-button{
  cursor: pointer;
}


.settingSpin {
    position: fixed !important;
    top: 50% !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 9999999;
}

.style_img-homeblogs {
    height: 200px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    object-fit: cover;
    border: 1px solid rgb(0 0 0 / 6%);
    border-radius: 10px;
    margin-top: 6px;
    transition: all ease-in .15s;
}

.style_img-homeblogs:hover {
  transform: scale(.95);
}

image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other_user-avatar {
  padding: 40px 0 10px 0 ;
}

.other_user-role {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

.other_user-user {
  font-size: 1.2rem;
}

.other_user-join {
  font-size: 1rem;
  margin-bottom: 40px;
}